.gallery {
    height: 90%;
    transform: translateX(.3rem) translateY(.6rem);
    position: relative;

    &__item {
        width: 33.68%;
        display: inline-block;
        margin: -.4rem;
        opacity: 1;
    }

    &__photo {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
        background-color: $color-black;
    }

    &__img {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.15);
        transition: all 0.5s;

        &:hover {
            transform: scale(1.03);
            opacity: 1;
        }
    }

    @include respond(tab-port) {
        display: block;
        position: relative;
        transform: translateX(0) translateY(0);

        &__item {

            @include absCenter;

            opacity: 1;
            display: block;
            width: 90%;
            margin: 0;
            transition: all .4s;
        }

        &__img {
            transform: scale(1.03);
            opacity: 1;
        }

    }
}
